trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  acrServiceConnection: 'ACR Connection'
  acrLoginServer: 'grassequal.azurecr.io'
  imageName: 'formsubmits-api'

stages:
- stage: Build
  displayName: 'Build and Push'
  jobs:
  - job: BuildAndPush
    displayName: 'Build and Push Image'
    steps:
    - task: Docker@2
      displayName: 'Build and Push to ACR'
      inputs:
        containerRegistry: $(acrServiceConnection)
        repository: $(imageName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(Build.BuildId)
          latest